<button mat-icon-button [matMenuTriggerFor]="menuPersonalization">
  <mat-icon fontSet="fas" fontIcon="fa-th"></mat-icon>
</button>
<mat-menu #menuPersonalization="matMenu" xPosition="before" class="app-toolbar-menu-panel">
  <ng-template matMenuContent>
    <app-toolbar-menu [menuItems]="menuPersonalizationItems">
      <div class="container" appToolbarMenuHeader>
        <div class="row">
          <div class="col text-center">
            <h6>Personalization</h6>
          </div>
        </div>
      </div>
      <ng-template templatesRegistry="tmpltDarkMode">
        <div class="container" style="max-width: 300pt;">
          <div class="row">
            <div class="col">
              <h6>Dark Mode</h6>
            </div>
          </div>
          <div class="row">
            <div class="col app-toolbar-menu-template-text">
              <p>
                The Dark Mode applies color scheme that uses light-colored text, icons, graphical user interface elements etc. against a dark background.
                It can be useful at night or in low-light environment to reduce eye strain.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-slide-toggle color="primary" [checked]="isDarkMode" (change)="toggleThemeMode()">Use Dark Mode</mat-slide-toggle>
            </div>
          </div>
        </div>
      </ng-template>
    </app-toolbar-menu>
  </ng-template>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="menuAuth" *ngIf="authInfo.IsAuthenticated">
  <mat-icon fontSet="fas" fontIcon="fa-user-circle"></mat-icon>
</button>
<mat-menu #menuAuth="matMenu" xPosition="before" class="app-toolbar-menu-panel">
  <ng-template matMenuContent>
    <app-toolbar-menu [menuItems]="menuAuthItems">
      <div class="container app-toolbar-menu-template-text" appToolbarMenuHeader>
        <div class="row">
          <div class="col text-right stick-pack">
            <h6 class="primary-color">{{authInfo.AuthUserInfo.Name}}</h6>
            <small>{{authInfo.AuthUserInfo.RolesView}}</small>
          </div>
        </div>
      </div>
    </app-toolbar-menu>
  </ng-template>
</mat-menu>

<button mat-stroked-button color="primary" routerLink="Login" *ngIf="!authInfo.IsAuthenticated">
  <mat-icon fontSet="fas" fontIcon="fa-user-circle"></mat-icon>
  <span>Log in</span>
</button>