<button mat-icon-button [matMenuTriggerFor]="menuSettings">
  <mat-icon fontSet="fas" fontIcon="fa-th"></mat-icon>
</button>
<mat-menu #menuSettings="matMenu" xPosition="before" class="app-toolbar-menu-panel" menuClosed="">
  <ng-template matMenuContent>
    <app-toolbar-menu [menuItems]="menuSettingsItems">
      <div class="container" appToolbarMenuHeader>
        <div class="row">
          <div class="col text-center">
            <h6>Settings</h6>
          </div>
        </div>
      </div>
      <ng-template templatesRegistry="tmpltDarkMode">
        <div class="container" style="max-width: 300pt;">
          <div class="row">
            <div class="col">
              <h6>Dark Mode</h6>
            </div>
          </div>
          <div class="row">
            <div class="col app-toolbar-menu-template-text">
              <p>
                Dark Mode applies color scheme that uses light-colored text, icons, graphical user interface elements etc. on a dark background.
                It can be useful at night time or in darker environment to reduce eye strain.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-slide-toggle color="primary" [checked]="isDarkMode" (change)="toggleThemeMode()">Use Dark Mode</mat-slide-toggle>
            </div>
          </div>
        </div>
      </ng-template>
    </app-toolbar-menu>
  </ng-template>
</mat-menu>

<!-- TODO!!!! -->
<button mat-icon-button [matMenuTriggerFor]="menuAuth" *ngIf="authInfo.IsAuthenticated">
  <mat-icon fontSet="fas" fontIcon="fa-user-circle"></mat-icon>
</button>
<mat-menu #menuAuth="matMenu" xPosition="before" class="app-toolbar-menu-panel">
  <button mat-menu-item class="text-center">Hello World!</button>
  <div class="container">
    <div class="row">
      <div class="col buttons-full-width">
        <button mat-stroked-button color="accent" (click)="logOff()">
          <mat-icon fontSet="fas" fontIcon="fa-sign-out-alt"></mat-icon>
          <span>Log out</span>
        </button>
      </div>
    </div>
  </div>
</mat-menu>

<button mat-stroked-button color="primary" routerLink="Login" *ngIf="!authInfo.IsAuthenticated">
  <mat-icon fontSet="fas" fontIcon="fa-user-circle"></mat-icon>
  <span>Log in</span>
</button>