<app-spacer height="4vh" class="d-none d-md-block"></app-spacer>
<div class="container">
  <div class="row">
    <div class="col">
      <app-telegram-status-monitor></app-telegram-status-monitor>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Telegram Control Panel</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="container buttons-full-width">
            <div class="row">
              <div class="col-12 col-md-6">
                <mat-spinner-button #registerClientBtn (btnClick)="registerClient()" [options]="{ active: false, text: 'Register TelegramBotClient', spinnerSize: 19, flat: false,
                  buttonColor: 'primary', spinnerColor: 'accent', disabled: disableControlButtons && !registerClientBtn.options.active, mode: 'indeterminate'}"></mat-spinner-button>
              </div>
              <div class="col-12 col-md-6">
                <mat-spinner-button #unregisterClientBtn (btnClick)="unregisterClient()" [options]="{ active: false, text: 'Unregister TelegramBotClient', spinnerSize: 19, flat: false,
                  buttonColor: 'primary', spinnerColor: 'accent', disabled: disableControlButtons && !unregisterClientBtn.options.active, mode: 'indeterminate'}"></mat-spinner-button>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <mat-spinner-button #registerWebhookBtn (btnClick)="registerWebhook()" [options]="{ active: false, text: 'Register Webhook', spinnerSize: 19, flat: false,
                  buttonColor: 'primary', spinnerColor: 'accent', disabled: disableControlButtons && !registerWebhookBtn.options.active, mode: 'indeterminate'}"></mat-spinner-button>
              </div>
              <div class="col-12 col-md-6">
                <mat-spinner-button #unregisterWebhookBtn (btnClick)="unregisterWebhook()" [options]="{ active: false, text: 'Unregister Webhook', spinnerSize: 19, flat: false,
                  buttonColor: 'primary', spinnerColor: 'accent', disabled: disableControlButtons && !unregisterWebhookBtn.options.active, mode: 'indeterminate'}"></mat-spinner-button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-divider></mat-divider>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <mat-spinner-button #checkWebhookBtn (btnClick)="checkWebhook()" [options]="{ active: false, text: 'Check Webhook Registry', spinnerSize: 19, flat: false,
                  buttonColor: 'primary', spinnerColor: 'accent', disabled: disableControlButtons && !checkWebhookBtn.options.active, mode: 'indeterminate'}"></mat-spinner-button>
              </div>
              <div class="col-12 col-md-6">
                <mat-spinner-button #updateWebhookBtn (btnClick)="updateWebhook()" [options]="{ active: false, text: 'Update Webhook Info', spinnerSize: 19, flat: false,
                  buttonColor: 'primary', spinnerColor: 'accent', disabled: disableControlButtons && !updateWebhookBtn.options.active, mode: 'indeterminate'}"></mat-spinner-button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<app-spacer height="7vh" class="d-none d-md-block"></app-spacer>
