@import '../../../styles/variables.scss';

.sidenav-menu-container {
    min-height: $app-main-min-height;
}
@media (max-width: 599px) {
    .sidenav-menu-container {
        min-height: $app-main-min-height-extra-small;
    }
}

.mat-sidenav-view-submenu {
    background-color: inherit;
    color: inherit;
    border-right: inherit;
    min-width: 12vw;
}

.sidenav-menu-item {
    padding-right: 14px;
    padding-left: 0;
}
.sidenav-menu-item > button,
.sidenav-menu-item > a {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}