<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="d-none d-md-block mat-sidenav-view-submenu">
    <div class="container buttons-full-width">
      <div class="row" *ngFor="let item of menuItems">           
        <div class="col">
          <button mat-button *ngIf="!item.IsHref" [routerLink]="item.Path" class="text-right">{{item.Caption}}</button>
          <a mat-button *ngIf="item.IsHref" [href]="item.Path" class="text-right">{{item.Caption}}</a>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
