.sidenav-list-item-caption {
    width: 100%;
}

.sidenav-list-item-spacer {
    width: 10vw;
}

.sidenav-list-item-container {
    display: flex;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
}

.sidenav-list-item-active {
    background: rgba(0,0,0,.04);
}