<mat-nav-list>
  <a mat-list-item routerLink="" (click)="onSidenavClose()"
    [ngClass]="{'accent-color sidenav-list-item-active': appMenu.isActivatedHomeRoute}" [attr.tabindex]="-1">
    <span class="sidenav-list-item-caption">Home</span>
    <span class="sidenav-list-item-spacer"></span>
    <mat-icon fontSet="fas" fontIcon="fa-chevron-down" [style.visibility]="'hidden'"></mat-icon>
  </a>
  <ng-container *ngFor="let item of appMenu.menuItems">
    <ng-container *ngIf="item.Children === undefined">
      <a mat-list-item *ngIf="!item.IsHref" [routerLink]="item.Path" (click)="onSidenavClose()"
        [ngClass]="{'accent-color sidenav-list-item-active': item.IsActivatedRoute}" [attr.tabindex]="-1">
        <span class="sidenav-list-item-caption">{{item.Caption}}</span>
        <span class="sidenav-list-item-spacer"></span>
        <mat-icon fontSet="fas" fontIcon="fa-chevron-down" [style.visibility]="'hidden'"></mat-icon>
      </a>
      <a mat-list-item *ngIf="item.IsHref" [href]="item.Path" (click)="onSidenavClose()">
        <span class="sidenav-list-item-caption">{{item.Caption}}</span>
        <span class="sidenav-list-item-spacer"></span>
      </a>
    </ng-container>
    <ng-container *ngIf="item.Children !== undefined">
      <a mat-list-item [matMenuTriggerFor]="menu"
        [ngClass]="{'accent-color sidenav-list-item-active': item.IsActivatedRoute}" [attr.tabindex]="-1">
        <span class="sidenav-list-item-caption">{{item.Caption}}</span>
        <span class="sidenav-list-item-spacer"></span>
        <mat-icon fontSet="fas" fontIcon="fa-chevron-down"></mat-icon>
      </a>
      <mat-menu #menu="matMenu" xPosition="after">
        <ng-container *ngFor="let itemChild of item.Children">
          <button mat-menu-item *ngIf="!itemChild.IsHref" [routerLink]="item.Path + '/' + itemChild.Path" (click)="onSidenavClose()"
            [ngClass]="{'accent-color sidenav-list-item-active': itemChild.IsActivatedRoute}">
            <div class="sidenav-list-item-container">
              <span class="sidenav-list-item-caption">{{itemChild.Caption}}</span>
              <span class="sidenav-list-item-spacer"></span>
              <mat-icon fontSet="fas" fontIcon="fa-chevron-down" [style.visibility]="'hidden'"></mat-icon>
            </div>
          </button>
          <a mat-menu-item *ngIf="itemChild.IsHref" [href]="itemChild.Path" (click)="onSidenavClose()">
            <div class="sidenav-list-item-container">
              <span class="sidenav-list-item-caption">{{itemChild.Caption}}</span>
              <span class="sidenav-list-item-spacer"></span>
              <mat-icon fontSet="fas" fontIcon="fa-chevron-down" [style.visibility]="'hidden'"></mat-icon>
            </div>
          </a>
        </ng-container>
      </mat-menu>
    </ng-container>
  </ng-container>
</mat-nav-list>
