<mat-nav-list>
  <ng-container *ngFor="let item of menuItems">
    <ng-container *ngIf="item.Children === undefined">
      <a mat-list-item [routerLink]="item.Path" (click)="onSidenavClose()">{{item.Caption}}</a>
    </ng-container>
    <ng-container *ngIf="item.Children !== undefined">
      <a mat-list-item [matMenuTriggerFor]="menu">{{item.Caption}}</a>
      <mat-menu #menu="matMenu" xPosition="after">
        <button mat-menu-item (click)="onSidenavClose()" [routerLink]="item.Path + '/' + itemChild.Path" *ngFor="let itemChild of item.Children">{{itemChild.Caption}}</button>
      </mat-menu>
    </ng-container>
  </ng-container>
</mat-nav-list>
