.app-toolbar-menu-caption {
    width: 100%;
}

.app-toolbar-menu-spacer {
    width: 2vw;
}

.app-toolbar-menu-container {
    display: flex;
}

.app-toolbar-menu-container-item {
    height: unset;
}

.app-toolbar-menu-container-item:hover {
    cursor: initial !important;
    background: initial !important;
}