<div *ngIf="!useTemplate">
  <div class="mat-menu-item app-toolbar-menu-container-item" (click)="$event.stopPropagation()">
    <ng-content select="[appToolbarMenuHeader]"></ng-content>
  </div>
  <mat-divider></mat-divider>
  <div *ngFor="let item of menuItems">
    <button mat-menu-item (click)="onItemClick($event, item)">
      <div class="app-toolbar-menu-container">
        <mat-icon [fontSet]="item.Icon.FontSet" [fontIcon]="item.Icon.FontIcon"></mat-icon>
        <span class="app-toolbar-menu-spacer"></span>
        <span class="app-toolbar-menu-caption">{{item.Caption}}</span>
        <span class="app-toolbar-menu-spacer"></span>
        <mat-icon fontSet="fas" fontIcon="fa-chevron-right" [style.visibility]="!item.useTemplate() ? 'hidden' : ''"></mat-icon>
      </div>
    </button>
  </div>
</div>
<div *ngIf="useTemplate">
  <button mat-menu-item (click)="onInnerBackClick($event)">
    <div class="app-toolbar-menu-container">
      <mat-icon fontSet="fas" fontIcon="fa-arrow-left"></mat-icon>
      <span class="app-toolbar-menu-spacer"></span>
      <span class="app-toolbar-menu-caption">Back</span>
    </div>
  </button>
  <mat-divider></mat-divider>
  <div class="mat-menu-item app-toolbar-menu-container-item" (click)="$event.stopPropagation()">
    <ng-container [ngTemplateOutlet]="templateRef"></ng-container>
  </div>
</div>