<connectionStrings>
  
  <add name="DefaultConnection" connectionString="Data Source=?HOST?;Initial Catalog=?DBNAME?;Persist Security Info=True;User ID=?LOGIN?;Password=?PASSWORD?;MultipleActiveResultSets=True; Asynchronous Processing=true" providerName="System.Data.SqlClient" />

</connectionStrings>