<mat-toolbar [color]="getToolbarColor()">
    <div class="d-md-none">
      <button mat-button (click)="onToggleSidenav()">
          <mat-icon fontSet="fas" fontIcon="fa-bars"></mat-icon>
          <span>{{title}}</span>
      </button>
  </div>
  <div class="d-none d-md-block">
      <button mat-button routerLink="">
        <mat-icon fontSet="fas" fontIcon="fa-paw"></mat-icon>
        <span><strong>{{title}}</strong></span>
      </button>
      <button mat-button routerLink="Dashboard" *ngIf="authInfo.IsAuthenticated">Dashboard</button>
  </div>
  <span class="toolbar-space">
  </span>
  <div>
    <app-auth-toolbar></app-auth-toolbar>
  </div>
</mat-toolbar>
