<mat-toolbar [color]="getToolbarColor()">
    <div class="d-md-none">
      <button mat-button (click)="onToggleSidenav()">
          <mat-icon fontSet="fas" fontIcon="fa-bars"></mat-icon>
          <span>{{globalSvc.appTitle}}</span>
      </button>
  </div>
  <div class="d-none d-md-block">
      <button mat-button routerLink="">
        <strong>{{globalSvc.appTitle}}</strong>
      </button>
  </div>
  <span class="toolbar-space">
  </span>
  <div class="d-none d-md-block">
    <button mat-button *ngFor="let item of menuItems" [routerLink]="(item.Children === undefined) ? item.Path : item.Path + '/' + item.Children[0].Path">{{item.Caption}}</button>
  </div>
  <div>
    <app-auth-toolbar></app-auth-toolbar>
  </div>
</mat-toolbar>
