<app-spacer height="4vh" class="d-none d-md-block"></app-spacer>
<div class="container">

  <div class="row">
    <div class="col-12 col-md">
      <div class="row" >
        <div class="col-12 col-xl">
          <div class="stick-pack">
            <h1 class="primary-color">{{cvData.personalDetails.fullName}}</h1>
            <h3 class="accent-color">{{cvData.title}}</h3>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl">
          <app-form-value caption="City" *ngIf="cvData.personalDetails.city !== null">{{cvData.personalDetails.city}}</app-form-value>
          <app-form-value caption="Date of Birth" *ngIf="cvData.personalDetails.dateOfBirth !== null">{{cvData.personalDetails.dateOfBirth | date}}</app-form-value>
        </div>
        <div class="col-12 col-md-6 col-xl">
          <app-form-value caption="Email" *ngIf="cvData.personalDetails.email !== null">
            <a href="mailto:{{cvData.personalDetails.email}}" target="_blank">{{cvData.personalDetails.email}}</a>
          </app-form-value>
          <app-form-value caption="Telegram" *ngIf="cvData.personalDetails.telegram !== null">
            <a [href]="cvData.personalDetails.telegram" target="_blank">{{cvData.personalDetails.telegram}}</a>
          </app-form-value>
          <app-form-value caption="Contact Phone" *ngIf="cvData.personalDetails.contactPhone !== null">{{cvData.personalDetails.contactPhone}}</app-form-value>
        </div>     
      </div>
      <div class="row">
        <div class="col">
          <mat-divider></mat-divider>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-2 col-lg-2 text-center text-md-right">
      <img class="photo-img" [src]="cvData.personalDetails.imgSrc">
    </div>
  </div>
  

  <div class="row">
    <div class="col">
      <h3 class="primary-color">Professional Summary</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p *ngFor="let p of cvData.professionalSummary.p">{{p}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-divider></mat-divider>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3 class="primary-color">Skills</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg">
      <div class="row">
        <div class="{{i === cvData.skills.skills.length - 1 ? 'col-12 col-lg' : 'col-12 col-lg-6'}}" 
          *ngFor="let s of cvData.skills.skills; let i = index">
          <h4 class="accent-color skills-caption">{{s.caption}}</h4>
          <mat-chip-list>
            <mat-chip *ngFor="let sChip of s.skills">{{sChip}}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-2">
      <h4 class="accent-color skills-caption">Languages</h4>
      <div class="row" *ngFor="let l of cvData.skills.languages">
        <div class="col stick-pack">
          <p>{{l.name}}</p>
          <small>{{l.level}}</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-divider></mat-divider>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3 class="primary-color">Work Experience</h3>
    </div>
  </div>
  <div class="row">
    <div class="col" *ngFor="let e of cvData.workExperience.entries"> 
      <div class="stick-pack">
        <h3><b>{{e.name}}</b></h3>
        <h4>
          <a [href]="e.link" target="_blank">{{e.link}}</a>
        </h4>
        <h4 class="stick-pack">{{e.jobTitle}}</h4>
        <h4>
          <span [matTooltip]="e.getExperience()" matTooltipPosition="after" matTooltipHideDelay="400">
            {{e.startDate | date:'MMM y'}} - {{e.endDate === null ? 'Current' : e.endDate | date:'MMM y'}}
          </span>
        </h4>
      </div>
      <p *ngFor="let d of e.descriptionParagraphs" [innerHTML]="d"></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-divider></mat-divider>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 col-lg">
      <div class="row">
        <div class="col">
          <h3 class="primary-color">Education</h3>
        </div>
      </div>
      <div class="row">
        <div class="col" *ngFor="let e of cvData.education.educationEntries">
          <div class="stick-pack">
            <h3>{{e.name}}</h3>
            <h4>{{e.details}}</h4>
            <h4>{{e.startDate | date:'y'}} - {{e.endDate | date:'y'}}</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-divider></mat-divider>
        </div>
      </div> 
    </div>
    <div class="col-12 col-lg">
      <div class="row">
        <div class="col">
          <h3 class="primary-color">Courses</h3>
        </div>
      </div>
      <div class="row">
        <div class="col" *ngFor="let c of cvData.education.coursesEntries">
          <div class="stick-pack">
            <h3>{{c.name}}</h3>
            <h4>{{c.details}}</h4>
            <h4>{{c.startDate | date:'y'}} - {{c.endDate | date:'y'}}</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-divider></mat-divider>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3 class="primary-color">Portfolio & Pet-Projects</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-form-value captionClass="col-4 col-md-3 col-lg-2" [caption]="l.caption" *ngFor="let l of cvData.portfolio.links">
        <a [href]="l.href" target="_blank">{{l.href}}</a>
      </app-form-value>
    </div>
  </div>

</div>
<app-spacer height="7vh" class="d-none d-md-block"></app-spacer>