<app-spacer height="16vh" class="d-none d-md-block"></app-spacer>
<div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-1"></div>
      <div class="col">
          <mat-card>
            <img mat-card-image src="https://source.unsplash.com/580x260/?pattern" 
              (load)="imgLoaded = true" [ngClass]="{'login-image': true, 'hide': !imgLoaded, 'fade-in': imgLoaded}">
            <mat-card-content>
              <form novalidate autocomplete="off">
                <div class="container form-fields-full-width">
                  <div class="row">
                    <div class="col">
                      <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput [(ngModel)]="loginViewModel.Email" [formControl]="emailFormControl">
                        <mat-error *ngIf="emailFormControl.invalid">
                          <span [innerHTML]="formControlHelper.errorMessage(emailFormControl)"></span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [(ngModel)]="loginViewModel.Password" [type]="passwordHide ? 'password' : 'text'" [formControl]="passwordFormControl">
                        <mat-icon matSuffix fontSet="far" [fontIcon]="passwordHide ? 'fa-eye-slash' : 'fa-eye'" 
                          class="text-center" (mousedown)="passwordHide = false" (mouseup)="passwordHide = true" 
                          (mouseleave)="passwordHide = true">
                        </mat-icon>
                        <mat-error *ngIf="passwordFormControl.invalid">
                          <span [innerHTML]="formControlHelper.errorMessage(passwordFormControl)"></span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-checkbox [(ngModel)]="loginViewModel.RememberMe" name="loginViewModel.RememberMe">Remember Me</mat-checkbox>
                    </div>
                </div> 
              </div>
            </form>
          </mat-card-content>
          <mat-card-actions class="text-right">
            <mat-spinner-button #loginBtn (btnClick)="login()" [options]="{ active: false, text: 'Log in', spinnerSize: 19, flat: true,
              buttonColor: 'primary', spinnerColor: 'accent', disabled: formControlHelper.isError(), mode: 'indeterminate'}" 
              matTooltip="Please provide email and password to continue." [matTooltipDisabled]="!formControlHelper.isError()"></mat-spinner-button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-3 col-md-1"></div>
    </div>
</div>
<app-spacer height="23vh" class="d-none d-md-block"></app-spacer>
