@import '../../../styles/variables.scss';

$approx-mat-card-height: 428px;
$login-image-height: 16vh;

@mixin calc-login-spacer-height($toolbar-height) {
  height: calc(50vh + #{$login-image-height} - #{$app-footer-spacer-height} - (#{$approx-mat-card-height}/1.695) - #{$toolbar-height});
}

.login-spacer {
  @include calc-login-spacer-height($app-toolbar-height);
}
@media (max-width: 599px) {
  .login-spacer {
    @include calc-login-spacer-height($app-toolbar-height-extra-small);
  }
}

.login-image {
    object-fit: cover;
    height: $login-image-height;
}

.hide {
    visibility: hidden;
}

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}
  
  
@keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
  
@-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  