<app-spacer heightClass="login-spacer" inheritHeightFromClass="true"></app-spacer>
<div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-1"></div>
      <div class="col">
          <mat-card>
            <img mat-card-image src="https://source.unsplash.com/580x260/?pattern,white" 
              (load)="imgLoaded = true" [ngClass]="{'login-image': true, 'hide': !imgLoaded, 'fade-in': imgLoaded}">
            <mat-card-content>
              <form novalidate autocomplete="off">
                <div class="container form-fields-full-width">
                  <div class="row">
                    <div class="col text-right">
                      <small>Log in to <span class="primary-color">{{globalSvc.appTitle}}</span></small>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input matInput [(ngModel)]="loginViewModel.UserName" [formControl]="usernameFormControl">
                        <mat-error *ngIf="usernameFormControl.invalid">
                          <span [innerHTML]="formControlHelper.errorMessage(usernameFormControl)"></span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [(ngModel)]="loginViewModel.Password" [type]="passwordHide ? 'password' : 'text'" [formControl]="passwordFormControl">
                        <app-holddown-action-icon matSuffix fontSet="far" fontIconActive="fa-eye-slash" fontIcon="fa-eye" 
                          [isActive]="passwordHide" (onActivate)="passwordHide = false" (onDeactivate)="passwordHide = true">
                        </app-holddown-action-icon>
                        <mat-error *ngIf="passwordFormControl.invalid">
                          <span [innerHTML]="formControlHelper.errorMessage(passwordFormControl)"></span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-checkbox [(ngModel)]="loginViewModel.RememberMe" name="loginViewModel.RememberMe">Remember Me</mat-checkbox>
                    </div>
                </div> 
              </div>
            </form>
          </mat-card-content>
          <mat-card-actions class="text-right">
            <app-mat-spinner-button #loginBtn (btnClick)="login()" [options]="{ active: false, text: 'Log in', spinnerSize: 19, flat: true,
              buttonColor: 'primary', spinnerColor: 'accent', disabled: formControlHelper.isError(), mode: 'indeterminate'}" 
              matTooltip="Please provide email and password to continue." [matTooltipDisabled]="!formControlHelper.isError()"></app-mat-spinner-button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-3 col-md-1"></div>
    </div>
</div>
