<mat-card>
    <mat-progress-bar mode="indeterminate" [style.visibility]="loading ? 'visible' : 'hidden'"></mat-progress-bar>
    <mat-card-header>
      <mat-card-title>Telegram Status Monitor</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <app-form-value captionClass="col-5" [contentClass]="'col ' + getTelSvcStatusClass(status.TelegramBotClientStatus)" caption="TelegramBotClient status">{{status.TelegramBotClientStatus | telegramServiceStatus}}</app-form-value>
          </div>
          <div class="col-12 col-lg-6">
            <app-form-value captionClass="col-5" [contentClass]="'col ' + getTelSvcStatusClass(status.WebhookStatus)" caption="Webhook status">{{status.WebhookStatus | telegramServiceStatus}}</app-form-value>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-divider></mat-divider>
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <p><small>Webhook Info</small></p>
         </div>
        </div>
        <div class="row">
          <div class="col">
            <app-form-value [captionTextRight]="false" captionClass="col-4 col-lg-2" caption="Url">{{status.WebhookUrl | dashIfEmpty}}</app-form-value>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <app-form-value [captionTextRight]="false" captionClass="col-4 col-lg-2" caption="Allowed Updates">{{status.WebhookAllowedUpdates | dashIfEmpty}}</app-form-value>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <app-form-value [captionTextRight]="false" captionClass="col-4 col-lg-2" caption="Max Connections">{{status.WebhookMaxConnections | dashIfEmpty}}</app-form-value>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <app-form-value [captionTextRight]="false" captionClass="col-4 col-lg-2" caption="Has Custom Certificate">{{status.WebhookHasCustomCertificate | yesNo | dashIfEmpty}}</app-form-value>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <app-form-value [captionTextRight]="false" captionClass="col-4 col-lg-2" caption="Pending Update Count">{{status.WebhookPendingUpdateCount | dashIfEmpty}}</app-form-value>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <app-form-value [captionTextRight]="false" captionClass="col-4 col-lg-2" caption="Last Error Message">{{status.WebhookLastErrorMessage | dashIfEmpty}}</app-form-value>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <app-form-value [captionTextRight]="false" captionClass="col-4 col-lg-2" caption="Last Error Date">{{status.WebhookLastErrorDate | momentDate:'medium' | dashIfEmpty}}</app-form-value>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <app-form-value [captionTextRight]="false" captionClass="col-4 col-lg-2" caption="Webhook Info Date">{{status.WebhookUpdateDate | momentDate:'medium' | dashIfEmpty}}</app-form-value>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="viewLog()">View Log</button>
    </mat-card-actions>
</mat-card>
