<mat-progress-bar mode="indeterminate" [style.visibility]="loadingEntries ? 'visible' : 'hidden'"></mat-progress-bar>
<h1 mat-dialog-title>{{data.name}} log</h1>
<div mat-dialog-content>
  <div class="container">
    <div class="row" *ngFor="let item of logEntries" >
      <div class="col">
        <p><small class="primary-color">{{item.EntryDate | momentDate:'medium'}}</small><br>{{item.Entry}}</p>
        <mat-divider></mat-divider>
      </div>
    </div>
    <div class="row" *ngIf="!allEntriesLoaded">
      <div class="col text-center">
        <app-mat-spinner-button #loadNextEntriesBtn (btnClick)="loadNextEntries()" [options]="{ active: false, text: 'Show more...', spinnerSize: 19, flat: false,
          buttonColor: 'accent', spinnerColor: 'accent', disabled: loadingEntries, mode: 'indeterminate' }"></app-mat-spinner-button>
      </div>
    </div>
    <div class="row" *ngIf="logEntries.length === 0 && !loadingEntries">
      <div class="col text-center">
        <h4>No entries found...</h4>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Ok</button>
  <span class="flex-space">
  </span>
  <mat-form-field>
      <mat-label>Delete entries older than</mat-label>
      <mat-select [(value)]="cleanThreshold" [disabled]="loadingEntries">
        <mat-option [value]="i" *ngFor="let i of cleanThresholdOptions">{{i.c}}</mat-option>
      </mat-select>
    </mat-form-field>
    <app-mat-spinner-button #cleanLogBtn (btnClick)="cleanEntries()" [options]="{ active: false, text: 'Delete entries', spinnerSize: 19, flat: false,
      buttonColor: 'primary', spinnerColor: 'primary', disabled: loadingEntries, mode: 'indeterminate' }"></app-mat-spinner-button>
</div>
