@model Cat.Domain.Entities.TestEntity
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
@using (Html.BeginForm("Add", "Test", FormMethod.Post))
{
    <div class="item">
        <label>Name</label>
        @Html.TextBoxFor(m => m.Name)
    </div>
    <input type="submit" value="Confirm" />
}
<hr />

<div>@Html.ActionLink("Back", "Index", "Test")</div>

