@using Cat.Domain.Entities
@model TestEntity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>Id: @Model.Id</div>
<div>Title: @Model.Name</div>

<hr />

<div>@Html.ActionLink("Back", "Index", "Test")</div>
