<app-spacer height="4vh" class="d-none d-md-block"></app-spacer>
<div class="container">
  <div class="row form-fields-full-width">
    <div class="col-3">
      <mat-form-field>
        <input matInput placeholder="Search..." #searchBox (input)="search(searchBox.value)" autocomplete="off">
        <mat-icon matSuffix fontSet="fas" fontIcon="fa-search" class="text-center"></mat-icon>
      </mat-form-field>
    </div>
    <div class="col text-right">
      <button mat-stroked-button color="accent" (click)="addUser()">Add User</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-app-grid schemeName="grid_users"
        (actionApplied)="actionApplied($event)"
        [data]="users$"
        [search]="search$">
      </app-app-grid>
    </div>
  </div>
</div>
<app-spacer height="7vh" class="d-none d-md-block"></app-spacer>
