/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import "angularMatVsBootstrap.scss";
@import "theming.scss";
@import "variables.scss";


.form-fields-full-width mat-form-field,
.buttons-full-width .mat-button, 
.buttons-full-width .mat-fab, 
.buttons-full-width .mat-flat-button, 
.buttons-full-width .mat-icon-button, 
.buttons-full-width .mat-mini-fab, 
.buttons-full-width .mat-raised-button, 
.buttons-full-width .mat-stroked-button {
    width: 100%;
}

input.form-field-number::-webkit-outer-spin-button,
input.form-field-number::-webkit-inner-spin-button {
    display: none;
}
input.form-field-number {
    -moz-appearance: textfield;
}

.flex-space {
    flex: 1 1 auto;
}

.row .row {
    margin-right: 0;
    margin-left: 0;
}

.app-spacer-top.regular {
    height: $app-spacer-top-regular;
}
.app-spacer-bottom.regular {
    height: $app-spacer-bottom-regular;
}
.app-spacer-top.footer {
    height: $app-spacer-top-footer;
}
.app-spacer-bottom.footer {
    height: $app-spacer-bottom-footer;
}

.app-toolbar-menu-panel {
    max-width: unset !important;
}

.app-toolbar-menu-template-text {
    white-space: initial;
    line-height: initial;
}

.stick-pack :not(:last-child){
    margin-bottom: 0;
}