$app-spacer-top-regular: 4vh;
$app-spacer-bottom-regular: 7vh;

$app-footer-spacer-height: 12vh;

$app-toolbar-height: 64px;
$app-toolbar-height-extra-small: 56px;

$app-main-min-height: calc(100vh - #{$app-footer-spacer-height} - #{$app-toolbar-height}); 
$app-main-min-height-extra-small: calc(100vh - #{$app-footer-spacer-height} - #{$app-toolbar-height-extra-small});