<app-spacer height="4vh" class="d-none d-md-block"></app-spacer>
<div class="container">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-progress-bar mode="indeterminate" [style.visibility]="loadingRefresherData ? 'visible' : 'hidden'"></mat-progress-bar>
        <mat-card-header>
          <mat-card-title>Refresher Service</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="container form-fields-full-width">
            <div class="row">
              <div class="col">
                <p>
                  Refresher Service is a system internal service that provide continuous refresh of the application instance.    
                </p>
                <p><small>
                  It calls base url of the instance with specified time interval to 'wake up' the hosting server and don't let it 'sleep'. 
                  It's meant to be used on shared hostings where it is impossible to manage server's or machine settings.
                  Refresh of the instance itself is important to provide a stable continuous execution of the Hangfire tasks.
                </small></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-divider></mat-divider>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-checkbox [(ngModel)]="refresherSettings.IsEnabled" [formControl]="refresherEnabledFormControl">Enabled</mat-checkbox>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <mat-form-field>
                  <input matInput type="text" appIntegersOnly class="text-right" autocomplete="off" 
                    [formControl]="refresherIntervalFormControl" [(ngModel)]="refresherSettings.IntervalMinutes">
                  <span matPrefix>Refresh every&nbsp;</span>
                  <span matSuffix>&nbsp;minute(s)</span>
                  <mat-error *ngIf="refresherIntervalFormControl.invalid">
                    <span [innerHTML]="refresherControlHelper.errorMessage(refresherIntervalFormControl)"></span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <mat-spinner-button #saveRefresherBtn (btnClick)="refresherSaveChanges()" [options]="{ active: false, text: 'Save Settings', spinnerSize: 19, flat: false,
            buttonColor: 'accent', spinnerColor: 'accent', disabled: refresherControlHelper.isError() || loadingRefresherData, mode: 'indeterminate'}"></mat-spinner-button>
          <button mat-button (click)="refresherViewLog()" [disabled]="loadingRefresherData">View Log</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-progress-bar mode="indeterminate" [style.visibility]="loadingATriggerData ? 'visible' : 'hidden'"></mat-progress-bar>
        <mat-card-header>
          <mat-card-title>ATrigger Service</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="container form-fields-full-width">
            <div class="row">
              <div class="col">
                <p>
                  ATrigger Service is a wrapper of third party scheduling tool ATrigger.
                </p>
                <p><small>
                  It performs request to the ATrigger before the application instance recycle by server.
                  After request callback to the application's API will be performed in specified minutes interval.
                  Callback triggers application start so Hangfire tasks and system porcesses can perform correctly.
                  It's meant to be used on shared hostings where it is impossible to manage server's or machine settings.
                </small></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-divider></mat-divider>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-checkbox [(ngModel)]="atriggerSettings.IsEnabled" [formControl]="atriggerEnabledFormControl">Enabled</mat-checkbox>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <mat-form-field>
                  <input matInput type="text" appIntegersOnly class="text-right" autocomplete="off" 
                    [formControl]="atriggerTimeSliceFormControl" [(ngModel)]="atriggerSettings.TimeSliceMinutes">
                  <span matPrefix>Callback after&nbsp;</span>
                  <span matSuffix>&nbsp;minute(s)</span>
                  <mat-error *ngIf="atriggerTimeSliceFormControl.invalid">
                    <span [innerHTML]="atriggerControlHelper.errorMessage(atriggerTimeSliceFormControl)"></span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <mat-spinner-button #saveATriggerBtn (btnClick)="atriggerSaveChanges()" [options]="{ active: false, text: 'Save Settings', spinnerSize: 19, flat: false,
            buttonColor: 'accent', spinnerColor: 'accent', disabled: atriggerControlHelper.isError() || loadingATriggerData, mode: 'indeterminate'}"></mat-spinner-button>
          <button mat-button (click)="atriggerViewLog()" [disabled]="loadingATriggerData">View Log</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<app-spacer height="7vh" class="d-none d-md-block"></app-spacer>
